html,body{
    width:100vw;
    height:100%;
    padding:0;
    margin:0;
    background-color: #222;
    color:#fafafa;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 500px;
    background-color: rgba (10,10,10,0,5);
    border: 2px #444 solid;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
p{
    text-align: center;
    font-family: Arial;
    font-size: 24px;
}

#quantidade-cliques{
    font-size: 42px;
    color: darkorchid;
}

.info-menor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-menor p {
    font-size: 18px;
    width: 50%;
    color: #cdcdcd;
    text-align: left;
}
button{
    padding:10px;
    background-color: orchid;
    color: #fafafa;
    border-radius: 8px;
    border: 0;
    font-size: 24px;
    transition-duration: 0.2s;
}

button:hover{
    background-color: darkorchid;
    cursor: pointer;
}

button:active{
    transform: scale(0.9);
}
